.testList-container::-webkit-scrollbar {
  width: 10px;
  background-color: #cee2fa;
}

.testList-container::-webkit-scrollbar-track {
  border-radius: 100px;
}

.testList-container::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.paginate-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.paginate-page {
  background-color: #bbd5eb;
  color: white;
  padding: 0 8px;
  border-radius: 8px;
}

.paginate-active {
}

.paginate-prev {
}

.paginate-next {
}
